.sanpham-GB {
    border: 1px solid rgb(178, 168, 168);
    border-radius: 5px;
    color: black;
}

.sanpham-GB:hover {
    border-color: red;
    color: red;
}

.sanpham-Mau {
    border: 1px solid rgb(178, 168, 168);
    border-radius: 5px;
    color: black;
    font-size: 14px;
}

.sanpham-Mau:hover {
    border-color: red;
    color: red;
}

.sanpham-Mau1 {
    border: 1px solid rgb(178, 168, 168);
    border-radius: 5px;
    color: black;
    font-size: 14px;
    width: 150px;
    height: 40px;
}

.sanpham-Mau1:hover {
    border-color: red;
    color: red;
}

.list-KM p {
    color: red;
    background-color: rgb(253, 155, 155);
}

.list-group-item span {
    background-color: red;
}

.xemchitiet {
    color: red;
    font-size: 15px;
}

.btn-ss {
    border: 1px solid red;
    background-color: white;
    color: red;
}

.sanpham-Mau1 span {
    text-decoration: line-through;
}