body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gia {
    font-size: 24px;
    color: red;
}

.giamgia {
    font-size: 24px;
    color: red;
}

.giagoc {
    text-decoration: line-through;
    font-size: 12px;
    color: rgb(111, 100, 100);
}

.tragop {
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    font-size: 8px;
    border: blue solid 1px;
    border-radius: 5px;
    color: blue;
}

.sanpham {
    position: relative;
}

.giam {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    font-size: 10px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: red;
    color: white;
}

.title-sanpham {
    font-size: 30px;
}

.img-header img {
    width: 150px;
    height: 50px;
}

.content {
    position: relative;
}

.btn-search {
    position: absolute;
    right: 8px;
    height: 100px;
    border: white solid 0px;
    background-color: white;
}

.nav-i {
    position: relative;
}

.nav-link i {
    position: absolute;
    right: 100px;
}

.nav-img {
    width: 140px;
    height: 60px;
}

.nav-img p {
    font-size: 14px;
}

.img {
    float: left;
}

.p {
    float: right;
}

.nav-img-2 {
    width: 120px;
    height: 60px;
}

.p-2 {
    font-size: 13px;
}

.img-2 {
    float: left;
}

.nav-img-2 p {
    float: right;
}

.nav-img-3 {
    width: 90px;
    height: 60px;
}

.nav-img-4 p {
    font-size: 14px;
}

.nav-fluid a:hover {
    color: red;
    background-color: rgb(87, 87, 244);
}

/* .carousel-control-next-icon {
    opacity: 0;
}

.carousel-control-next-icon:hover {
    opacity: 1;
}

.carousel-control-prev-icon {
    opacity: 0;
}

.carousel-control-prev-icon:hover {
    opacity: 1;
} */