<div>
    <label for="" class="mt-2">Hinh</label><br>
    <input type="text" class="form-control" ng-model="data.hinh">
    <span class="text-danger" ng-show="validate.hinh">* Không đươc để trống và lên mạng lấy đường dẫn ảnh</span><br>

    <label for="" class="mt-2">Tên sản phẩm</label><br>
    <input type="text" class="form-control" ng-model="data.ten">
    <span class="text-danger" ng-show="validate.ten">* Không đươc để trống tên sản phẩm</span><br>

    <label for="" class="mt-3">Số lượng</label><br>
    <input type="number" class="form-control" ng-model="data.soluong">
    <span class="text-danger" ng-show="validate.soluong">* Không đươc để trống số lượng sản phẩm</span>
    <span class="text-danger" ng-show="validatesoluongduong">* Số lượng sản phẩm lớn hơn 0</span><br>

    <label for="" class="mt-2">Giá sản phẩm</label>
    <input type="number" class="form-control" ng-model="data.gia">
    <span class="text-danger" ng-show="validate.gia">* Không được để trống giá sản phẩm</span>
    <span class="text-danger" ng-show="validategiaduong">* Giá sản phẩm lớn hơn 0</span><br>

    <label for="" class="mt-2">Mô tả</label>
    <input type="text" class="form-control" ng-model="data.mota">
    <span class="text-danger" ng-show="validate.mota">* Không được để trông mô tả</span><br>

    <button class="btn btn-succes bg-success mt-3" ng-click="save()">Thêm mới</button>
</div>