<div class="row">
    <div class="col-3 mt-3">
        <div class="list-group">
            <a href="#!nguoidung" type="button" class="list-group-item list-group-item-action active"
                aria-current="true">Quản
                lý người dùng</a>
            <a href="#!sanpham" class="list-group-item list-group-item-action form-control">Quản lý sản phẩm</a>
            <a href="#" class="list-group-item list-group-item-action form-control">Báo Cáo</a>
            <a href="#" class="list-group-item list-group-item-action form-control">Thống kê theo tuần</a>
            <a href="#" class="list-group-item list-group-item-action form-control">thống kê theo tháng</a>
        </div>
    </div>
</div>