<div class="row mt-3 bg-light">
    <div class="col-12 d-grid gap-2 d-flex flex-row bd-highlight mb-3">
        <div class="col-4 mt-2">
            <h3>Tổng đài hỗ trợ miễn phí</h3>
            <div>
                <nav class="navbar navbar-light">
                    <div class="container-fluid">
                        <p>Gọi mua hàng
                            <a class="navbar-brand" href="#">1800.2097</a>(07h30-22h00)
                        </p>
                    </div>
                </nav>
                <nav class="navbar navbar-light">
                    <div class="container-fluid">
                        <p>Gọi khuyến mại
                            <a class="navbar-brand" href="#">1800.2063</a>(07h30-22h00)
                        </p>
                    </div>
                </nav>
                <nav class="navbar navbar-light">
                    <div class="container-fluid">
                        <p>Gọi Bảo hành
                            <a class="navbar-brand" href="#">1800.2064</a>(08h00-21h00)
                        </p>
                    </div>
                </nav>
            </div>
            <h3>Phương thức thanh toán</h3>
            <div class="d-flex flex-row bd-highlight mb-3">
                <nav class="navbar navbar-light">
                    <div class="container-fluid">
                        <a href="#"><img src="./img/Screenshot 2024-01-21 232747.png" style="width: 50px; height: 25px;"
                                alt=""></a> &ensp;
                        <a href="#"><img src="./img/Screenshot 2024-01-21 233229.png" style="width: 50px; height: 25px;"
                                alt=""></a> &ensp;
                        <a href="#"><img src="./img/Screenshot 2024-01-21 233542.png" style="width: 50px; height: 25px;"
                                alt=""></a> &ensp;
                        <a href="#"><img src="./img/Screenshot 2024-01-21 233734.png" style="width: 50px; height: 25px;"
                                alt=""></a> &ensp;
                    </div>
                </nav>
            </div>
        </div>
        <div class="col-4 mt-2">
            <h3>Mua hàng va thanh toán online</h3>
            <nav class="navbar navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Mua hàng trả góp online</a>
                </div>
            </nav>
            <nav class="navbar navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Mua hàng trả góp bằng thẻ tín dụng</a>
                </div>
            </nav>
            <nav class="navbar navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Chính sách giao hàng</a>
                </div>
            </nav>
            <nav class="navbar navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Thông tin bảo hàng</a>
                </div>
            </nav>
            <nav class="navbar navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Tra cứu hóa đơn điện tử</a>
                </div>
            </nav>
        </div>
        <div class="col-4 mt-2">
            <h3>Dịch vụ và thông tin khác</h3>
            <nav class="navbar navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Khách hàng doanh nghiệp (B2B)</a>
                </div>
            </nav>
            <nav class="navbar navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Ưu đãi thanh toán</a>
                </div>
            </nav>
            <nav class="navbar navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Quy chế hoạt động</a>
                </div>
            </nav>
            <nav class="navbar navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Chính sách bảo hàng</a>
                </div>
            </nav>
            <nav class="navbar navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Liên hệ hợp tác kinh doanh</a>
                </div>
            </nav>
        </div>
    </div>
</div>