<div>
    <label for="" class="mt-2">Họ và tên</label><br>
    <input type="text" class="form-control" ng-model="data.hoten">
    <span class="text-danger" ng-show="validate.hoten">* Không đươc để trống họ tên</span><br>

    <label for="" class="mt-3">Tuổi</label><br>
    <input type="number" class="form-control" ng-model="data.tuoi">
    <span ng-show="validate.tuoi" class="text-danger">* Không đươc để trống tuổi</span><br>
    <span class="text-danger" ng-show="validate.tuoi">* Tuổi là số dương và lớn hơn 0</span><br>

    <label for="" class="mt-2">Địa chỉ</label>
    <select ng-model="data.diachi" class="form-control">
        <option value="" hidden>--Chọn thành phố</option>
        <option ng-repeat="el in listDemo" value="{{el.thanhpho}}">{{el.thanhpho}}</option>
    </select>
    <span ng-show="checkthanhpho" class="text-danger">* Mời bạn chọn thành phố</span>
    <br>

    <label for="" class="mt-2">Số điện thoại</label>
    <input type="text" class="form-control" ng-model="data.sodienthoai">
    <span ng-show="validate.sodienthoai" class="text-danger">* Mời bạn nhập số điện thoại</span><br>

    <label for="" class="mt-2">Vai trò</label>
    <select ng-model="data.vaitro" class="form-control">
        <option value="" hidden>--Chọn vai trò--</option>
        <option ng-repeat="el in listVaiTro" value="{{el.vaitro}}">{{el.vaitro}}</option>
    </select>
    <span ng-show="checkvaitro" class="text-danger">* Mời bạn chọn vai trò</span><br>

    <button class="btn btn-succes bg-success mt-3" ng-click="save()">Thêm mới</button>
</div>